/* ------ Snipp Form Button ------ */

.snipp-form-btn {
  width: 180px;
  border-radius: 5px;
  height: 50px;
  background-color: #EB56BB;
  box-shadow: 0px 10px 40px -10px rgba(255,0,131,0.5);
  color: white;
  opacity: .8;
}

.snipp-form-btn:hover {
  opacity: 1;
}

/* ------ Snipp Form Container ------ */

.create-snipp-container {
  display: flex;
  justify-content: center;
}

/* ------ Snipp Form Labels ------ */

.create-snipp-container label {
  font-family: 'Merriweather', 'Arial', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.create-snipp-container form {
  width: 550px;
}

.create-snipp-container .form-control {
  border-radius: 5px;
}

.form-btn-placement {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.back-icon-placement {
  float: left;
  font-size: 110%;
  margin-right: 5px;
}

/* ------ Back Button ------ */

.form-back-btn {
  color: #4c4c4c;
  display: block;
  margin-top: 20px;
  opacity: .8;
}

.form-back-btn:hover {
  color: #4c4c4c;
  opacity: 1;
  text-decoration: none;
}
