/* ------ Snipp Card ------ */

.snipp-show-container {
  display: flex;
  justify-content: center;
}

.snipp-show-card {
  border: .75px solid #4a4a4a;
  background-color: #F1F3F4;
  box-shadow: 0 10px 10px #efefef;
  word-break: break-all;
  width: 825px;
  padding: 30px 25px;
  border-radius: 5px;
  margin: 50px 0;
}

/* ------ Options Section ------ */

.snipp-show-more-options-section {
  text-align: right;
  font-size: 180%;
  margin-right: 15px;
  ion-icon {
    color: #4a4a4a;
    opacity: .6;
  }
  ion-icon:hover {
    opacity: 1;
  }
}

/* ------Snipp Section ------ */

.snipp-show-snipp-section {
  padding: 20px;
}

.snipp-show-quotation {
  font-family: 'Merriweather', 'Arial', sans-serif;
  word-break: break-word;
  line-height: 160%;
  font-size: 110%;
  letter-spacing: 1px;
}

.snipp-show-quoter {
  margin-top: 20px;
  font-size: 90%;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

/* ------ Takeaways Section ------ */

.snipp-show-takeaway-section {
  border-top: .75px solid #4a4a4a;
  border-bottom: .75px solid #4a4a4a;
  text-align: center;
  margin: 20px 40px;
}

.snipp-show-takeaway {
  margin: 25px 55px;
  line-height: 160%;
  word-break: break-word;
  font-size: 110%;
  letter-spacing: 2px;
}

/* ------ Source Section ------ */

.snipp-show-source-section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.snipp-source-btn-link:hover {
  text-decoration: none;

  .snipp-show-source-btn {
    opacity: .8;
  }
}

.snipp-show-source-btn {
  width: 260px;
  border-radius: 5px;
  height: 50px;
  background-color: #F1F3F4;
  box-shadow: 0px 10px 40px -10px rgba(74,74,74,0.5);
  color: #4a4a4a;
  display: inline-block;
}

.snipp-show-medium {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  margin-left: 18px;
}

.snipp-show-source {
  text-transform: uppercase;
  margin-top: 10px;
}

/* ------ Mobile Responsive ------ */

@media only screen and (max-width: 915px) {
  .snipp-show-card { width: 725px; }

  .snipp-show-quotation { font-size: 109%; }

  .snipp-show-quoter { font-size: 89%; }

  .snipp-show-takeaway { font-size: 109%; }

}

@media only screen and (max-width: 780px) {

  .snipp-show-card { width: 625px; }

  .snipp-show-quotation { font-size: 100%; }

  .snipp-show-takeaway {
    font-size: 105%;
    margin: 25px;
  }

}

@media only screen and (max-width: 685px) {

  .snipp-show-card { width: 525px; }

  .snipp-show-quotation { font-size: 90%; }

}

@media only screen and (max-width: 575px) {

  .snipp-show-card { width: 425px; }

  .snipp-show-more-options-section { font-size: 170%; }

  .snipp-show-quotation {
    font-size: 80%;
  }

  .snipp-show-takeaway-section { margin: 20px 30px; }

  .snipp-show-takeaway {
    font-size: 95%;
    letter-spacing: 1px;
    margin: 25px 10px;
  }

}

@media only screen and (max-width: 475px) {

  .snipp-show-card { width: 325px; }

  .snipp-show-quotation {
    font-size: 65%;
    letter-spacing: 0px;
    line-height: 170%;
  }

  .snipp-show-quoter { font-size: 70%; }

  .snipp-show-takeaway-section { margin: 20px 5px; }

  .snipp-show-takeaway {
    font-size: 70%;
    letter-spacing: 1px;
    margin: 15px 5px;
  }

}

@media only screen and (max-width: 375px) {

  .snipp-show-card { width: 280px; }

  .snipp-show-snipp-section { padding: 10px; }

  .snipp-show-quotation { font-size: 60%; }

  .snipp-show-quoter {
    font-size: 65%;
    margin-left: 5px;
  }

    .snipp-show-source-btn {
      width: 240px;
      height: 45px;
      font-size: 90%;
    }

}

